/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}


.header{
    background-color : red;

    
}

.header h1{
    font-size : 40px;
    color : white;
    font-weight : bold;
    font-family: fantasy;
    padding : 10px 10px 10px 55px;
    display : inline-block;
}

.header ul{
    padding-left : 55px;
}
.header ul li{
    display : inline-block;
    padding : 5px 15px 10px 0;
    
}

.header a{
    text-decoration: none;
    color : #ffcd38;
    padding : 5px;
}

.header a:hover {
    background-color: rgba(255, 141, 41);
    color : white;
}

h2{
    font-size : 25px;
    font-weight : bold;
}
.register{
    width : 300px;
    padding : 5px;
    text-align : center;
    border : 2px solid black;
    margin : 20px auto;
    border-radius : 5px;
}

input[type = submit]{
    display : inline-block;
    padding : 2px;
    margin : 5px;

}

input[type = reset]{
    display : inline-block;
    padding : 2px;
    margin : 5px;
}

.hr1{
    display : inline-block;
}
.hr2{
    display : inline-block
}

p{
    display : inline-block;
}

a{
    color : red;
    text-decoration: none;
}

